:root{
    --cor_titulo:rgb(0, 162, 255, 0.692);
    --cor_fundo:rgb(3, 3, 3);
    --cor_button:rgb(0, 162, 255, 0.692);
}
body{
     color:  rgb(0, 162, 255, 0.692);
     background-color: var(--cor_fundo);
}
body:hover{
    color:  white
}
section{
    text-align: center;
    height: 900px;
    margin: 40px;
    border: solid rgba(0, 162, 255, 0.692) 5px;
}
h1{
     color: var(--cor_titulo);
     text-align: center;
}
button{
    padding: 10px;
    border-radius:10px;
    margin:30px;
    color: var(--cor_button);
    
}




    